{% extends "base.html" %}
{% block content %}
<div id="account-login" class="container">
  {{ show_flashes() }}
  <form class="form-signin" action="{{ url_for('create') }}" method="POST">
    <h2 class="form-signin-heading">New Account</h2>
    {{ render_bootstrap_field(form.user) }}
    {{ render_bootstrap_field(form.password) }}
    {{ render_bootstrap_field(form.confirm) }}
    {{ render_bootstrap_field(form.email) }}
    {{ render_bootstrap_field(form.first_name) }}
    {{ render_bootstrap_field(form.last_name) }}
    {{ form.csrf_token }}
    <button class="btn btn-lg btn-success btn-block" type="submit">Create</button>
    <p><a href="/login">Back</a></p>
  </form>
</div> <!-- /container -->
{% endblock %}