{% extends "base.html" %}
{% block content %}
<div id="account-login" class="container">
  {{ show_flashes() }}
  <form class="form-signin" action="{{ url_for('login') }}" method="POST">
    <h2 class="form-signin-heading">Brewer Login</h2>
    {{ render_bootstrap_field(form.user) }}
    {{ render_bootstrap_field(form.password) }}
    {{ render_bootstrap_field(form.remember_me) }}
    {{ form.csrf_token }}
    <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
    <a href="/create">Create Account</a><br>
    or<br>
    <p>
      <a href="/google-login">Login with Google</a>
    </p> 
    <p>
      <a href="/facebook-login">Login with Facebook</a>
    </p>
    <p>Forgot your password? <a href="/reset-password">Reset Password</a></p>
  </form>
</div> <!-- /container -->
{% endblock %}