{% extends "base.html" %}
{% block content %}
<div id="account-login" class="container">
  {{ show_flashes() }}
  <form class="form-signin" action="{{ url_for('profile') }}" method="POST">
    <h2 class="form-signin-heading">Brewer Profile</h2>
    <p>First Name</p>
    {{ render_bootstrap_field(form.first_name) }}
    <p>Last Name</p>
    {{ render_bootstrap_field(form.last_name) }}
    <p>Email</p>
    {{ render_bootstrap_field(form.email) }} <br>
    <p>Change Password?</p>
    {{ render_bootstrap_field(form.new_password) }}
    {{ render_bootstrap_field(form.confirm_new) }}
    {{ form.csrf_token }}
    <p>Insert current password to save changes</p>
    {{ render_bootstrap_field(form.old_password) }}<br>
    {{ user.email_confirmed }}
    <button class="btn btn-lg btn-success btn-block" type="submit">Save</button><br><br>
    <p><a href="/delete-profile">Click here</a> to delete your profile.</p>
  </form>
</div> <!-- /container -->
{% endblock %}