{% extends "base.html" %}
{% block content %}
<div id="account-login" class="container">
  {{ show_flashes() }}
  <form class="form-signin" action="{{ url_for('resend_confirmation') }}" method="POST">
    <h2 class="form-signin-heading">Resend Confirmation Email</h2>
    <p>Hello <strong>{{ first_name }} {{ last_name }}</strong>! Your account was created but you need to confirm your email.</p><br>
    <p>Didn't get the email? Check the registered email and resend the confirmation.</p><br>
    <p>Registered Email</p>
    {{ user.email }} <br>
    {{ form.csrf_token }}
    <button class="btn btn-lg btn-success btn-block" type="submit">Resend Confirmation</button><br><br>
  </form>
</div> <!-- /container -->
{% endblock %}